@model IEnumerable<MarketingCORE.Models.Buyer>

@{
    ViewBag.Title = "Buyers";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Buyers</title>
</head>
<body>
    <hr />
    @using (Html.BeginForm("Index", "Buyers", FormMethod.Get))
    {
        <p>
            Edad: @Html.TextBox("edad", ViewBag.edad as int?)
            Genero: @Html.TextBox("genero", ViewBag.genero as string)
            Ingresos: @Html.TextBox("ingresos", ViewBag.ingresos as float?)
            Geografía: @Html.TextBox("geo", ViewBag.geo as string)
            <input type="submit" value="Filtrar" />
        </p>
    }
<p>
        <a asp-action="Create" class="btn btn-info" data-mdb-ripple-init>Crear nuevo Buyer</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intereses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frustraciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geografia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingresos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intereses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frustraciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geografia)
            </td>
        </tr>
}
    </tbody>
</table>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
